<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dewell.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.dewell.model.User">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CREATEDATETIME" property="createdatetime" jdbcType="TIMESTAMP" />
		<result column="MODIFYDATETIME" property="modifydatetime" jdbcType="TIMESTAMP" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PWD" property="pwd" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CREATEDATETIME, MODIFYDATETIME, NAME, PWD
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from tuser
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tuser
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.dewell.model.User">
		<!-- insert into tuser (ID, CREATEDATETIME, MODIFYDATETIME,
		NAME, PWD, CREATE_TIME,
		UPDATE_TIME)
		values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, #{modifydatetime,jdbcType=TIMESTAMP},
		#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
		#{updateTime,jdbcType=DATE}) -->
		insert into tuser (NAME,PWD) values (#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.dewell.model.User">
		<!-- insert into tuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createdatetime != null">
				CREATEDATETIME,
			</if>
			<if test="modifydatetime != null">
				MODIFYDATETIME,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="pwd != null">
				PWD,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				#{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifydatetime != null">
				#{modifydatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
		</trim> -->
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dewell.model.User">
		 update tuser
		<set>
			<!-- <if test="createdatetime != null">
				CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
			</if> -->
			<if test="modifydatetime != null">
				MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				PWD = #{pwd,jdbcType=VARCHAR},
			</if>
		<!-- 	<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=DATE},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=DATE},
			</if> -->
		</set>
		where ID = #{id,jdbcType=VARCHAR} -->
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dewell.model.User">
	 update tuser
		set <!-- CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP}, -->
		MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
		NAME = #{name,jdbcType=VARCHAR},
		PWD = #{pwd,jdbcType=VARCHAR}
		<!-- CREATE_TIME = #{createTime,jdbcType=DATE},
		UPDATE_TIME = #{updateTime,jdbcType=DATE} -->
		where ID = #{id,jdbcType=VARCHAR} 
	</update>
<select id="getAll" resultMap="BaseResultMap" >
select * from tuser
</select>

<select id="select" resultMap="BaseResultMap">
select count(*) from tuser
</select>	

<select id="getAllPage" resultMap="BaseResultMap" parameterType="com.dewell.common.easyuitool.PageTool">
select * from tuser limit #{startPos},#{row}
</select>
<select id="likeSelect" resultMap="BaseResultMap" parameterType="com.dewell.common.easyuitool.PageTool" >
select * from tuser where name like '%${news}%' limit #{startPos},#{row}
</select>
<select id="likeSelect1" resultMap="BaseResultMap" parameterType="string" >
select * from tuser where name like '%${news}%'
</select>
</mapper>